[submodule "CRoaring"]
	path = CRoaring
	url = https://github.com/RoaringBitmap/CRoaring.git
[submodule "PyRoaring"]
	path = PyRoaring
	url = https://github.com/Ezibenroc/PyRoaringBitMap.git
[submodule "CyRoaring"]
	path = CyRoaring
	url = https://github.com/andreasvc/roaringbitmap.git
